#!/bin/bash

# Project variables
dir=$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)
export PROJECT_DIR="$dir"
export SRC_DIR=$PROJECT_DIR/src
export BUILD_DIR=$PROJECT_DIR/build

# Load local directory environment if any...
source_env_if_exists .envrc.local
